.addProduct {
  display: flex;
  align-items: center;
}

.buttonAdditional {
  font-size: 14px;
  padding: 0.55em;
  max-width: 100px;
  border-radius: 10px;
}

@media (min-width: 500px) {
  .buttonAdditional {
    padding: 0.6em 1em;
  }
}

@media (min-width: 1000px) {
  .buttonAdditional {
    padding: 0.6em 1.5em;
  }
}
