@import './../../../../../../scssUtilities/index.module.scss';

.addProduct {
  display: flex;
  align-items: center;
}

.buttonAdditional {
  font-size: 14px;
  padding: 0.55em;
  max-width: 100px;
  border-radius: 10px;
  margin-left: 0.5em;

  @media (min-width: 500px) {
    padding: 0.6em 1em;
  }

  @include laptopSm {
    padding: 0.6em 1.5em;
    margin-left: 1em;
  }
}
