@import './../../../../../scssUtilities/index.module.scss';

.slider {
  width: 80% !important;
  margin: 0 auto !important;
  display: block !important;
}

.slider span {
  font-size: 11px !important;

  @include mobileVertical {
    font-size: 12px !important;
  }

  @include mobileHorizontal {
    font-size: 13px !important;
  }
}

.sliderContainer {
  margin: 3em 0 3em;

  @include laptopSm {
    margin: 0;
    flex-basis: 45%;
  }
}

.sliders {
  @include laptopSm {
    display: flex;
    justify-content: space-between;
    margin: 3.75em 0 3em;
  }
}
