@import './../../../scssUtilities/index.module.scss';

.moduleMainContentWrapper {
  background-color: #fefefe;
  padding: 1em;

  @include mobileVertical {
    padding: 1.25em;
  }

  @include mobileHorizontal {
    padding: 1.5em;
  }

  @include tabletHorizontal {
    padding: 1.5em 2em;
  }
}
