@import './../../../../scssUtilities/index.module.scss';

.navItems {
  padding: 0.5em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  @include verticalCustom(400px) {
    padding: 0.8em 1.5em 1.5em;
  }

  @include tabletHorizontal {
    padding: 0.8em 1.5em 1.5em;
  }

  @include laptopSm {
    flex-direction: row;
    padding: 0;
    align-items: center;
  }
}
.button {
  width: 100%;
  font-size: 18px;

  @include verticalCustom(400px) {
    font-size: 22px;
  }

  @include mobileHorizontal {
    width: 200px;
  }

  @include tabletHorizontal {
    font-size: 22px;
  }

  @include laptopSm {
    font-size: 22px;
    width: unset;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }
}

.button:hover {
  background-color: $light-blue;
}

.navItemsContainer {
  @include laptopSm {
    display: flex;
  }
}
