.error {
  width: 100%;
  background-color: #dd191a;
  background-image: repeating-linear-gradient(-75deg, #d01e1e, #d01e1e 15px, #dd191a 10px, #dd191a 30px);
  padding: 1em;
  margin: 2em 0 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
