@import './../../../scssUtilities/index.module.scss';

.productBrowser {
  display: flex;
  align-items: center;
  padding: 0.45em;
  background-color: #eaeaea;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  flex-grow: 1;
  position: relative;
  cursor: text;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0 0.5em;
  font-size: 14px;
  color: $gray-50;
  align-self: stretch;
  flex-grow: 1;
}

.focused {
  background-color: #fff;
  border: 2px solid $dark-blue;
}
