@import './../../../../../scssUtilities/index.module.scss';

.navItem {
  display: block;
  color: $gray-50;
  font-weight: 300;
  font-size: 18px;
  padding: 0.3em 0em;
  width: 100%;
  transition: 0.1s;
  margin: 0.5em 0;
  text-transform: capitalize;
  white-space: nowrap;

  @include verticalCustom(400px) {
    font-size: 22px;
  }

  @include tabletHorizontal {
    font-size: 22px;
  }

  @include laptopSm {
    margin: 0;
    padding: 0 0.75em;
  }
}

.navItem:hover,
.activeClassName {
  background-color: rgb(240, 240, 240);
  color: $gray-50;
  border-radius: 8px;
  padding: 0.3em 0.75em;

  @include laptopSm {
    padding: 0 0.75em;
    background-color: transparent;
    color: $dark-blue;
  }
}
