@import './../../../../scssUtilities/index.module.scss';

.autoCompleteItem {
  list-style: none;
  color: $gray-50;
  margin: 0.25em 0;
  cursor: pointer;
}

.autoCompleteItem:hover,
.active {
  color: $dark-blue;
}
