@import './../../../scssUtilities/index.module.scss';

.footerWrapper {
  background-color: #fafafa;
  border-top: 2px solid $gray-15;
  padding: 0.5em 0.5em 0.8em;
  line-height: 130%;
  font-size: 13px;
  color: $gray-35;
  font-weight: 300;

  @include mobileHorizontal {
    display: flex;
    padding: 0.8em;
    justify-content: space-between;
    align-items: center;
  }
}
