@import './../../../scssUtilities/index.module.scss';

.header {
  display: flex;
  align-items: center;
  padding: 0.7em 1em;
  border-bottom: 1px solid $gray-15;

  @include mobileHorizontal {
    padding: 0.6em 1em;
  }

  @include laptopSm {
    display: none;
  }
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logoFontSize {
  font-size: 22px;

  @include mobileVertical {
    font-size: 24px;
  }

  @include mobileHorizontal {
    font-size: 24px;
  }
}
