@import './../../../scssUtilities/index.module.scss';

.button {
  display: block;
  color: white;
  background-color: $dark-blue;
  padding: 0.3em 0;
  border: 3px solid $dark-blue;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.button:hover {
  background-color: $light-blue;
}

.buttonLight {
  background-color: $gray-10;
  color: black;
  border: 3px solid $gray-05;
}

.buttonLight:hover {
  background-color: $gray-10;
}
