@import './../../../scssUtilities/index.module.scss';

.inputAutoComplete {
  position: absolute;
  left: 0;
  top: 115%;
  right: 0;
  display: block;
  padding: 0.25em 0.75em;
  border: 2px solid $dark-blue;
  background-color: #fff;
  border-radius: 10px;
}
