@import './../../../scssUtilities/index.module.scss';

.bigScreenNavContainer {
  display: none;

  @include laptopSm {
    display: block;
  }
}

.smallScreenNavContainer {
  @include laptopSm {
    display: none;
  }
}
