.condition {
  margin-bottom: 1em;
}

.title {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0.5em;
}

.value {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
@media (min-width: 500px) {
  .title {
    font-size: 15px;
  }

  .value {
    font-size: 17px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .condition {
    margin-right: 5em;
    margin-bottom: unset;
  }
}
