@import './../../../../../scssUtilities/index.module.scss';

.conclusions {
  margin-top: 1.25em;
}

.noDataInfoAdditional {
  margin: 2em 0 1em;
}

.moduleMainContentAdditional {
  max-height: 45vh;
  overflow: auto;

  @include mobileVertical {
    max-height: 40vh;
  }

  @include mobileHorizontal {
    max-height: 50vh;
  }

  @include laptopSm {
    max-height: 40vh;
  }
}
