@import './../../../scssUtilities/index.module.scss';

.questions {
  margin: 1.5em auto;
  width: 85%;

  @include mobileVertical {
    margin: 2.5em auto;
    width: 80%;
  }

  @include mobileHorizontal {
    margin: 2em auto;
    width: 70%;
    max-width: 750px;
  }

  @include tabletHorizontal {
    margin: 2.5em auto;
  }

  @include laptopSm {
    margin: 3em auto;
    max-width: 800px;
  }
}
