@import './../../../../scssUtilities/index.module.scss';

.reminderContainer {
  display: flex;
  margin-bottom: 1em;

  @include mobileHorizontal {
    margin-bottom: unset;
    flex-basis: 65%;
  }
}

.reminder {
  margin-left: 0.5em;
}

.buttonAdditional {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  max-width: 150px;

  @include mobileHorizontal {
    margin: unset;
    flex-basis: 25%;
  }
}
