@import './../../../scssUtilities/index.module.scss';

.pageMainContentWrapper {
  width: 90%;
  margin: 2em auto;

  @include mobileHorizontal {
    width: 80%;
  }

  @include tabletHorizontal {
    width: 70%;
    margin: 2.5em auto;
  }

  @include laptopSm {
    max-width: 900px;
  }
}
