@import './../../../../../scssUtilities/index.module.scss';

.title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  padding: 0 0 1.25em;

  @include mobileVertical {
    font-size: 15px;
  }

  @include tabletHorizontal {
    padding: 0 0 1.5em;
  }

  @include laptopSm {
    font-size: 16px;
  }
}

.moduleMainContentAdditional {
  max-height: 45vh;
  overflow: auto;

  @include mobileVertical {
    max-height: 40vh;
  }

  @include mobileHorizontal {
    max-height: 50vh;
  }

  @include laptopSm {
    max-height: 40vh;
  }
}

.noDataInfoAdditional {
  margin: 0.5em 0;
}
